body {
    background-color: #d0d0d0;
    padding: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#mainTitle {
    text-align: center;
}
div.main {
    text-align: center;
    background-color:
}
div.main{
    border: 2em solid black
    background-color
}

#title{
    text-align: center;
    color:lightgreen;
}


p {
    color: red;
}
h3{
    color: blue
}

.truthlie {
    text-align: center;
    background-color: lightgrey;



}
